.wrapper.product {
  padding: 38px 0 80px 0;
  .sitebar {
    @extend .gray-border;
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding: 0 20px 0 0;
    transform: translateX(1px);
    .menu {
      .menu-item {
        padding-left: 25px;
        margin-top: 15px;
        & > a {
          color: #000000;
        }
        .submenu {
          display: block;
          .submenu-item {
            a {
              font-size: 0.9rem;
              line-height: 1.9rem;
            }
          }
        }
      }
    }
    .tags {
      margin-top: 55px;
      .tag {
        display: inline-block;
        border: 1px solid #ffffff;
        font-size: 0.8rem;
        padding: 3px 10px;
        margin: 0 3px 7px 0;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    @extend .gray-border;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 48px;
    .featured-products {
      .title {
        font-size: 1.7rem;
      }
      .products {
        height: auto;
        .product {
          width: 262px;
          margin-right: 32px;
          img {
            height: 262px;
            max-height: initial;
          }
        }
      }
      .navigate {
        bottom: 265px;
      }
    }
    .product-info {
      .heading-1 {
        color: #353535;
        font-weight: 700;
      }
      .slider-container {
        width: auto;
        position: relative;
        .swiper-container {
          width: 470px;
          height: 360px;
          box-sizing: initial;
          .swiper-slide {
            padding: 10px;
            background-color: #ffffff;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;;
            }
          }
          .navigate,
          ~ .navigate {
            background-color: #ffffff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 44px;
            left: 1px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            font-size: 1.6rem;
            cursor: pointer;
            color: #ccc;
            box-shadow: #999999 0px 1px 4px 0px;
            &.button-next {
              right: 1px;
              left: auto;
            }
          }
        }
        #product-thumbs {
          &.swiper-container {
            width: 350px;
            height: 74px;
            margin-top: 32px;
            .swiper-slide {
              padding: 0;
              cursor: pointer;
            }
            ~ .navigate {
              top: auto;
              bottom: -6px;
            }
          }
        }
      }
      .product-options {
        background-color: $gray-color;
        width: 350px;
        padding: 10px 15px;
        .divider {
          border-top: 1px solid #e1dcd1;
          width: 100%;
          height: 1px;
          margin: 16px 0;
        }
        .count {
          label {
            font-size: 0.9rem;
          }
        }
        .options {
          .option {
            margin-top: 15px;
            .switch {
              width: 26px;
              input[type="radio"] {
                display: none;
              }
              label {
                border: 1px solid #d1d1c3;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: inline-block;
                cursor: pointer;
                margin-top: 14px;
                position: relative;
                box-shadow: #d1d1c3 1px 1px 0px 0px;
              }
              input[type="radio"]:checked + label {
                background-color: $brand-color;
              }
            }
            .price {
              width: 58px;
              height: 48px;
              background-color: $body-bg-color;
              text-align: center;
            }
          }
        }
        .total-info {
          font-size: 0.71rem;
          .gray {
            color: #999999;
          }
          .price {
            font-size: 1rem;
            span {
              color: #9a9a69;
              font-size: 1.5rem;
            }
          }
        }
        .btn-green {
          margin: 13px 0 10px;
        }
      }
    }
    .tabs-wrapper {
      background-color: $gray-color;
      padding: 45px 58px;
      margin-top: 60px;
      .tabs {
        list-style: none;
        margin-left: 25px;
        .tab {
          display: inline-block;
          color: #9a9a69;
          &.active {
            background-color: #9a9a69;
            color: #ffffff;
          }
          a {
            color: inherit;
            text-decoration: none;
            padding: 17px 15px;
            display: block;
            font-weight: 600;
          }
        }
      }
      .tabs-content {
        @extend .gray-border;
        background-color: #fbfbea;
        padding: 10px 20px;
        display: none;
      }
      .socials {
        margin-top: 55px;
        .icons {
          .icon {
            display: block;
            text-decoration: none;
            background-color: #ffffff;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            color: #cacaca;
          }
        }
        span {
          font-weight: 600;
          color: #636363;
          line-height: 30px;
          margin-right: 6px;
        }
      }
    }
  }
}
