<div class="advertising-services">
  <div class="service clear">
    <div class="icon left">
      <img src="img/icons/icon-track.png" alt="" />
    </div>
    <div class="left">
      <div class="title">Kostenloser Versand</div>
      <div class="description">Ab 20 <i class="fa fa-euro"></i> Einkaufswert</div>
    </div>
  </div>
  <div class="service clear">
    <div class="icon left">
      <img src="img/icons/icon-hand.png" alt="" />
    </div>
    <div class="left">
      <div class="title">30 tage Rückgaberecht</div>
      <div class="description">Geld-Zurück-Garantie</div>
    </div>
  </div>
  <div class="service clear">
    <div class="icon left">
      <img src="img/icons/icon-headphones.png" alt="" />
    </div>
    <div class="left">
      <div class="title">Online Support</div>
      <div class="description">Hilfe schnell & unkompliziert</div>
    </div>
  </div>
  <div class="service clear">
    <div class="icon left">
      <img src="img/icons/icon-club.png" alt="" />
    </div>
    <div class="left">
      <div class="title">tealiko Club</div>
      <div class="description">10% Mitglieder Rabatt</div>
    </div>
  </div>
</div>
