<div class="club-banner">
  <div class="title">
    Werde tealiko club-mitglied!
  </div>
  <div class="text">
    <span>Bis zu 50%</span> als Mitglied im Shop SpareN.
  </div>
  <button type="button" class="btn">
    Drei Monate Gratis testen
  </button>
</div>
