<div class="copyright">
  <div class="wrapper celar">
    <div class="text left">Copyright © 2017 tealiko. Alle Rechte vorbehalten. Alle Preise verstehen sich inkl. MwSt. und exklusive Versandkosten.</div>
    <div class="right payment-cards">
      <div class="card">
        <img src="img/copyright/card-01.jpg" alt="" />
      </div>
      <div class="card">
        <img src="img/copyright/card-02.jpg" alt="" />
      </div>
      <div class="card">
        <img src="img/copyright/card-03.jpg" alt="" />
      </div>
      <div class="card">
        <img src="img/copyright/card-04.jpg" alt="" />
      </div>
      <div class="card">
        <img src="img/copyright/card-05.jpg" alt="" />
      </div>
      <div class="card">
        <img src="img/copyright/card-06.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
