<footer>
  <div class="wrapper">
    <div class="columns">
      <div class="column">
        <div class="logo">
          <a href="">
            <img src="img/footer/footer-logo.png" alt="" />
          </a>
        </div>
        <div class="text icon-phone">
          <a href="tel:05012341356468">(050) - 1234 1356468 (Support)</a> <br/>
          <a href="tel:05012341356479">(050) - 1234 1356479</a> (Bestellung)
        </div>
        <div class="text icon-envelope">
          <a href="mailto:hallo@tealiko.de">hallo@tealiko.de</a>
        </div>
        <div class="text icon-facebook">
          <a href="#">
            Besuchen Sie auch <br/>
            gerne unsere FB-Seite!
          </a>
        </div>
      </div>
      <div class="column">
        <div class="title">
          Shop Links
        </div>
        <div class="text">
          <a href="#">
            Mein Konto (Login)
          </a>
        </div>
        <div class="text">
          <a href="#">
            Versand & Lieferung
          </a>
        </div>
        <div class="text">
          <a href="#">
            Zahlungsbedingungen
          </a>
        </div>
        <div class="text">
          <a href="#">
            AGB / Wiederrufsrecht
          </a>
        </div>
        <div class="text">
          <a href="#">
            Datenschutz
          </a>
        </div>
        <div class="text">
          <a href="#">
            Impressum & Kontakt
          </a>
        </div>
      </div>
      <div class="column">
        <div class="title">
          Kategorien
        </div>
        <div class="text">
          <a href="#">
            Tee Sorten
          </a>
        </div>
        <div class="text">
          <a href="#">
            Versand & Lieferung
          </a>
        </div>
        <div class="text">
          <a href="#">
            Bio Produkte
          </a>
        </div>
        <div class="text">
          <a href="#">
            Allerlei Süßes
          </a>
        </div>
        <div class="text">
          <a href="#">
            Aktuelle Angebote
          </a>
        </div>
        <div class="text">
          <a href="#">
            Neue Produkte
          </a>
        </div>
      </div>
      <div class="column">
        <div class="title">
          Ihre Vorteile
        </div>
        <div class="text icon-check">
          <a href="#">
            Kostenloses 30 Tage Rückgaberecht <br/> inkl. Versandkosten Erstattung
          </a>
        </div>
        <div class="text icon-check">
          <a href="#">
            Bequemer & sicherer Einkauf
          </a>
        </div>
        <div class="text icon-check">
          <a href="#">
            Online-Sendeverfolgung
          </a>
        </div>
        <div class="text icon-check">
          <a href="#">
            Benutzerfreundliches Kundenkontoes
          </a>
        </div>
        <div class="text icon-check">
          <a href="#">
            Tealiko Club-Mitgliedschaft
          </a>
        </div>
      </div>
    </div>
    <br/>
    <div class="write-us clear">
      <div class="left text">Keine Neuigkeiten & Angebote  von Tealiko verpassen, jetzt <span>kostenlos anmelden</span>:</div>
      <div class="email-form clear right">
        <input type="text" class="left input email" placeholder="Ihre E-Mail Adresse..." />
        <button type="button" class="left btn">anmelden!</button>
      </div>
    </div>
  </div>
</footer>
