<header class="w100p">
  <div class="wrapper h100p clear">
    <div class="logo-wrapper left">
      <a class="logo" href="">
        <img src="img/header/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="content-wrapper left">
      <div class="general clear">
        <div class="list left">
          <div class="list-item gift">
            <a href="">Gutscheine</a>
          </div>
          <div class="list-item ring">
            <a href="">Hilfe & Kontakt</a>
          </div>
          <div class="list-item phone">
            <a href="">(050) - 1234 1356468</a>
          </div>
        </div>
        <div class="left ico-facebook">
          <a href="#">
            <i class="fa fa-facebook-official"></i>
          </a>
        </div>
        <div class="list right">
          <div class="list-item language">Deutsch</div>
          <div class="list-item user">
            <a href="">Mein Konto</a>
          </div>
          <div class="list-item lock">
            <a href="">abmelden</a>
          </div>
        </div>
      </div>
      <div class="social-login">
        Besuche tealiko auch auf: <i class="fa fa-facebook-official"></i>
      </div>
      <div class="clear search-cart">
        <div class="search left clear">
          <input type="text" class="input left" placeholder="Durchsuche den tealiko Online-Shop..." />
          <button class="btn fa fa-search left"></button>
        </div>
        <div class="cart right clear">
          <div class="products left">0</div>
          <div class="price left">0.00 <i class="fa fa-euro"></i></div>
        </div>
      </div>
    </div>
  </div>
</header>
