<div class="payment-steps clear">
  <div class="step {{#if step-1}}active{{/if}}">
    1. Übersicht
  </div>
  <div class="step {{#if step-2}}active{{/if}}">
    2. Anmelden
  </div>
  <div class="step {{#if step-3}}active{{/if}}">
    3. Zahlungsart
  </div>
  <div class="step {{#if step-4}}active{{/if}}">
    4. Versand
  </div>
</div>
