<div class="socials clear">
  <span class="left">Teilen:</span>
  <div class="icons left">
    <a href="#" class="icon fa fa-facebook"></a>
    <a href="#" class="icon fa fa-pinterest"></a>
    <a href="#" class="icon fa fa-twitter"></a>
    <a href="#" class="icon fa fa-google-plus"></a>
    <a href="#" class="icon fa fa-instagram"></a>
  </div>
</div>
